
.main{
    margin-top: 20%;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
    
    
}
.logo-img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.searchbar-input{
    width: 400px;
    line-height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:1px solid #dfe1e5;
    border-radius: 24px;
    
}
.btn{
    margin-left: 4px;
    margin-right: 4px;
    background: #dfe1e5;
    margin-top: 30px;
    border: 0px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    font-weight: bold;


}

.card{
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #222222;
    border-radius: 20px;
    padding: 20px;
    
}

.twitbutton{
    border: 1px solid #cfd9de;
    color: #0f1419;
    background: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}